*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(38, 36, 55);
    font-family: poppins, open_sans;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
}

.fist{
    font-size: 10px;
    margin-left: 100px;
    margin-top: 20px;
    width: 50%;
    font-weight: 700;
}
.fist span{
    color: rgb(232, 61, 90);
}

.second{
    width: 50%;
}

.second ul{
    position: absolute;
    display: flex;
}

.second ul li{
    list-style: none;
    margin: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}
main{
    display: flex;
}
.title{
   /* margin-bottom: 60px;  */
   font-size: 20px;
    margin-left: 100px;
    margin-top: 10%;
    width: 50%;
    font-weight: 700;
}
.title p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.5); /* Blanc avec 50% d'opacité */
}
.btn{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    background-color:  rgb(232, 61, 90);
    color: white;
}
